.privacy-policy-template__table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;

  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  td:first-child {
    width: 70%;
  }

  td:last-child {
    width: 30%;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
  }
}
